.heroBox {
  background-image: url('/src/assets/shutterstock_42474535.jpg');
  background-repeat: no-repeat;
  background-size: cover; 
  height: 45vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

.heroText {
  color: white;
  width: 40vw;
  text-transform: none;
  font-weight: 400;
  font-size: 1.25rem;
}

.searchBox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem;
}

.searchInput {
  width: 20rem;
  padding: .5rem .5rem;
  margin: .5rem 0;
}

.searchInput::placeholder {
  font-style: italic;
}

.searchIcon {
  height: .8rem;
  margin: 0 5px;
}

.button {
  height: 2rem;
}
@media screen and (max-width: 360px){
  .heroText {
    width: 90vw;
  }

}
@media screen and (max-width: 570px){
  .searchBox {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .button {
    width: 19rem;
  }

  .searchInput {
    width: 18rem;
  }
  .heroText {
    width: 90vw;
  }

  .heroBox {
    height: 45vh;
  }
}
@media screen and (max-width: 815px){
  .heroText {
    width: 80vw;
  }
}
