.navBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  margin: 0;
  box-sizing: border-box;
  z-index: 200;
  position: relative;
}

.navContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  margin: 0;
  box-sizing: border-box;
  box-shadow: 0px 2px 2px 1px rgba(0,0,0,0.07);
  z-index: 200;
}

.left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-self: flex-start;
}

.logo {
  height: 5.5rem;
  margin-left: 1rem;
}

.logo:hover {
  opacity: .5;
}

.titleBox {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding-left: .75rem;
}

.headerFour {
  color: var(--blue-600);
  margin: 0;
  font-size: 1.125rem;
}

.subtitle {
  font-style: italic;
  color: var(--blue-gray);
  margin: 0;
  font-size: .9rem;
}

.right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 30vw;
  margin-right: 1rem;
}

.h5 {
  color: var(--blue-600);
}

.accentBar {
  height: .3rem;
  background-color: var(--blue-700);
  width: 100vw;
  margin: none;
}
@media screen and (max-width: 410px){
  .logo {
    display: none;
  }
}
@media screen and (max-width: 615px){
  .headerFour {
    font-size: .9rem;
    text-align: left;
  }
  .subtitle {
    line-height: 15pt;
    text-align: left;
  }
  .logo {
    height: 4rem;
  }
}
@media screen and (max-width: 1160px){
  .navLink {
    display: none;
  }

  .right {
    width: 3rem;
  }
}